<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> تغییر رمز</title>
    <link rel="stylesheet" href="style/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="style/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="style/css/vazir.css">
    <link rel="stylesheet" href="style/css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light p-0 mr-2">
    <div class="d-flex align-items-center">
        <a href="index.html" class="navbar-brand py-3 px-5 m-0 h3 " style="color: #ee6123; font-size: 18px;">پنل مدیریت سازمان</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="#" class="nav-link " style="color: #ee6123;">داشبورد</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link " style="color: #ee6123;">اعضا</a>
            </li>
        </ul>
        <div class="ml-5 mr-auto">
            <button type="button" class="btn btn-sm btn-primary">
                پیام ها <span class="badge badge-light" style="color: #ee6123;">4</span>
            </button>
            <button class="btn btn-sm btn-primary">خروج</button>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-2 text-light bg-orange"  id="sidebar">
            <ul class="nav flex-column px-3">
                <li class="nav-item d-flex align-items-center pb-3">
                        <span class="oi oi-info"></span>
                    <a href="organizationInfo.html" class="nav-link my-1">اطلاعات سازمان</a>
                </li>
                <li class="nav-item d-flex align-items-center pb-3">
                    <span class="oi oi-people"></span>
                    <a href="personals.html" class="nav-link my-1">پرسنل</a>
                </li>
                <li class="nav-item d-flex align-items-center pb-3">
                    <span class="oi oi-credit-card"></span>
                    <a href="yourAccount.html" class="nav-link my-1">حساب شما</a>
                </li>
                <li class="nav-item d-flex align-items-center pb-3">
                    <span class="oi oi-key"></span>
                    <a href="changePassword.html" class="nav-link my-1">تغییر رمز</a>
                </li>
                <li class="nav-item d-flex align-items-center pb-3">
                    <span class="oi oi-reload"></span>
                    <a href="#" class="nav-link my-1">صفحه اصلی</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-9 text-light bg-light mr-3"  id="main">
            <div class="justify-content-center m-5 p-5">
                <form>
                    <div class="col-md-6 mb-3 ">
                        <label for="exampleInputPassword1" class="text-dark">رمز عبور جدید</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="رمز عبور جدید" required>
                        <div class="invalid-feedback">
                            لطفا یک مقدار صحیح وارد کنید.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3 ">
                        <label for="exampleInputPassword1" class="text-dark">تکرار رمز عبور جدید</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="تکرار رمز عبور جدید" required>
                        <div class="invalid-feedback">
                            لطفا یک مقدار صحیح وارد کنید.
                        </div>
                    </div>
                    <button class="btn btn-primary col-md-3 mr-3" type="submit">اعمال تغییرات</button>
                </form>
            </div>

        </div>
    </div>

</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>