<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/<th:block th:include="fragments/head :: head"></th:block>/*/-->
    <meta charset="UTF-8">
    <title>Permissions List</title>
</head>
<body>
<!--/*/<th:block th:include="fragments/menuBar :: menuBar"></th:block>/*/-->
<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Object Name</th>
            <th>Created Date</th>
            <th>Veiw</th>
        </tr>
        <tr th:each="permission : ${permissions}">
            <td th:text="${permission.name}"></td>
            <td th:text="${permission.objectName}"></td>
            <td th:text="${permission.dateCreated}"></td>
            <td><a class="btn btn-info" href="#" th:href="@{'permissionShow' + ${permission.id}}">View</a></td>
        </tr>
    </table>
</div>

</body>
</html>